@model IEnumerable<InventoryManagementSystem.Models.ApplicationUser>
    @{ 
        ViewBag.Title = "ListUsers";
    }

<h2>List Of Users</h2>

<table class="table table-striped">
    <tr>
        <th>Email</th>
        <th></th>
        <th></th>
    </tr>
    @foreach(var item in Model)
            {
<tr>
    <td>@item.UserName</td>


    <td>
            <form action="@Url.Action("ManageUserRoles","UserRolesAdmin")" method="post" class="form-inline">
                <input type="hidden" id="UserName" name="UserName" value="@item.UserName" />
                <button type="submit" class="btn btn-primary">Manage Roles</button>
            </form>
        </td>
    <td>
        @Html.ActionLink("Reset Password", "ResetPassword", new { id = item.Id }, new { @class = "btn btn-primary" })
    </td>

</tr>
            }
</table>