@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This Web App is an Online Resource for building the inventories of companies assets, stocks, products and purchases.</p>
