@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Magodo Phase 1<br />
    <br />
    <abbr title="Phone">Phone:</abbr>
    08073826775
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:gpadishi@gmail.com">gpadishi@gmail.com</a><br />
    <strong>Reach Us:</strong> <a href="mailto:gpadishi@gmail.com">gpadishi@gmail.com</a>
</address>