@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>INVENTORY MANAGEMENT SYSTEM</h1>
    <p class="lead">This Web App is an Inventory Management System for managing the inventories of companies products, stocks and equipments.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>PRODUCTS</h2>
        <p>
            The companies products.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>PURCHASES</h2>
        <p>List of purchases made.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>STOCKS</h2>
        <p>Available stocks.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>